body {
  background: #b60d0d; /* fundo vermelho escuro */
  font-family: sans-serif;
}

.container {
  text-align: center; /* tudo centralizado */
  margin-top: 20px;
}

.centro {
  /* grade com 4 colunas de cartas */
  display: grid;
  grid-template-columns: repeat(4, 90px);
  gap: 15px; /* espaço entre cartas */
  justify-content: center;
  margin-bottom: 20px;
}

/* Estilo da carta virada para baixo */
.carta {
  width: 90px;
  height: 120px;
  background: #016309; /* cor do verso */
  border-radius: 10px;
  font-size: 45px;
  color: transparent; /* esconde a fruta */
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  transition: 0.3s; /* animação suave */
}

/* Carta virada para cima (mostra a fruta) */
.carta.virada {
  background: white;
  color: black;
}

/* Quando o par é encontrado */
.carta.completa {
  background: #1e9b54;
  color: white;
}
