body{
  background:#b60d0d;
  font-family:sans-serif;
}

.container{
  text-align:center;
}

.board{
  display:grid;
  grid-template-columns: repeat(4, 90px);
  gap:15px;
  justify-content:center;
}

.carta{
  width:90px;
  height:120px;
  background:#016309;
  border-radius:10px;
  font-size:45px;
  color:transparent;

  display:flex;
  align-items:center;
  justify-content:center;

  cursor:pointer;
}

/* Carta aberta */
.carta.virada{
  background:white;
  color:black;
}

/* Carta jรก resolvida */
.carta.completa{
  background:#1e9b54;
  color:white;
}
